<div class="container">
  <div class="cars-container">
      <div class="row mt-5">
        <div class="cards-near-map col-6">
          <% @cars.each do |car| %>
            <div class="card-near-page h-100">
              <img src="http://kitt.lewagon.com/placeholder/cities/rio" alt="car picture" class="img-sizing-index">
                <div class="border-card-bottom">
                  <p class="model-text-index mt-2"> <%= car.model %> </p>
                  <p class="card-text-index"> Price: <%= car.price %> per day </p>
                    <div class="d-flex justify-content-between align-items-center mb-4" >
                      <%= link_to 'More infos', car_path(car), class: 'link-index' %>
                    </div>
                </div>
            </div>
          <% end %>
        </div>
        <div class="col-6">
        <div style="width: 100%; height: 600px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        </div>
      </div>
  </div>
  </div>
