<div class="container">
 <div class="card">
  <img src="" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"> <%= @car.model %> details</h5>
      <p> <%= @car.description %> </p>
      <p class="card-text"> Year: <%= @car.year %></p>
      <p class="card-text">Color: <%= @car.color %></p>
      <p class="card-text">Powered with: <%= @car.fuel %></p>
      <p class="card-text">Price: <%= @car.price %></p>
    </div>

    <div class="d-flex flex-row-reverse">
      <button type="button" class="btn-gradient"> <%= link_to "Homepage", cars_path %> </button>
      <button type="button" class="btn-gradient"> <%= link_to "Book this car", new_car_booking_path(@car) %> </button>
      <!-- <button type="button" class="btn-gradient"> <%= link_to "Edit car's infos", edit_car_path %> </button> -->
    </div>
  </div>
</div>
