<div class="container-show">
  <h3 class="card-title mt-3 mb-3"><%= @car.model %></h3>
  <br>
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
      <div class="d-flex flex-row p-3">
        <% if @car.photos.present? %>
          <% @car.photos.first(3).each do |photo| %>
            <div class="mr-3 p-2">
              <%= cl_image_tag photo.key, height: 150, width: 250, crop: :fill %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>





  <div class="row">
    <div class="col-md-6">
      <div class="card-big">
        <div class="card-body">
          <div class="d-flex">
            <div class="box mt-3">
              <p class="car-description-show"><%= @car.description %> · <%= @car.address %></p></p>
              <p class="card-text-details-show"> Manufactured in <%= @car.year %> · <%= @car.color %> ·
              using <%= @car.fuel %>
              <hr class="hr-show space-around">
              <p class="card-text-details-show"> <i class="fa-solid fa-hand-holding-dollar fa-xl" style="color: #AEE6E6;"></i> <%= @car.price %> €</p>
              <hr class="hr-show space-around">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <!-- Booking form card -->
      <div class="card card-show mt-3">
        <div class="card-body">
          <%= render 'bookings/new', booking: Booking.new, car: @car %>
        </div>
      </div>
    </div>
  </div>
</div>
