<div class="container">
  <h3 class="card-title mt-3 mb-3"><%= @car.model %></h3>
  <br>
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);">
      <div class="d-flex flex-row p-3">
        <% if @car.photos.present? %>
          <% @car.photos.first(3).each do |photo| %>
            <div class="mr-3 p-2">
              <%= cl_image_tag photo.key, height: 150, width: 250, crop: :fill %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>





  <div class="row">
    <div class="col-md-6">
      <div class="card-big">
        <div class="card-body">
          <div class="d-flex mt-4">
            <div class="box mt-3">
              <h4 class="card-title text-start mb-3"><%= @car.model %></h4>
              <p class="card-text-bigger"><%= @car.description %></p>
              <!-- Other car details -->
              <p class="card-text-bigger"> Year: <%= @car.year %></p>
              <p class="card-text-bigger">Color: <%= @car.color %></p>
              <p class="card-text-bigger">Powered with: <%= @car.fuel %></p>
              <p class="card-text-bigger">Price: <%= @car.price %></p>
              <p class="card-text-bigger">Address: <%= @car.address %></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 pr-0">
      <!-- Booking form card -->
      <div class="card mt-3" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); color: black;">
        <div class="card-body">
          <%= render 'bookings/new', booking: Booking.new, car: @car %>
        </div>
      </div>
    </div>
  </div>
</div>
